{% extends 'base.html.twig' %}

{% block title %}Create New Author{% endblock %}

{% block body %}
    <h1>Create New Authour</h1>
    <form action="{{path('author_store')}}" method="POST">
        <table>
            <tr>
                <th>Name</th>
                <td><input type="text" name="author_name" value="{{author_name}}"></td>
            </tr>
            <tr>
                <th>Surname</th>
                <td><input type="text" name="author_surname" value="{{author_surname}}"></td>
            </tr>
            <tr>
                <th></th>
                <td><button type="submit">Add new author</button>
                 <input type="hidden" name="token" value="{{ csrf_token('create_author_hidden') }}"/></td>
            </tr>
        </table>
    </form>
{% endblock %}